.g-hd {
  	position: fixed;
  	width: 100%;
  	height: 3rem;
  	background-color: #d43b32;
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  
    .iconfont {
      color: #ffffff;
    }
    
  	.m-lf {
  		.iconfont {
  			font-size: 1.8rem;
  		}
  	}

  	.m-mn {
  		.iconfont{
  			font-size: 2rem;
  			&:nth-child(2) {
  				margin: 0 1rem;
  				font-size: 1.6rem;
  			}
  		}
      a{
          .iconfont {
              font-size: 1.7rem;
          }
        }
  	}

  	.m-rt {
  		.iconfont {
  			font-size: 1.6rem;
  		}
  	}
}

a {
  text-decoration: none;
}
