.g-hd {
  	position: fixed;
  	width: 100%;
  	height: 3rem;
  	background-color: #d43b32;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
    color: #ffffff;
    font-size: 1.05rem;
    
    .m-lf {
        margin-left: 1.2rem;
    }

     .m-rt {
        margin-right: 1.2rem;
    }

    .iconfont {
        font-size: 1.5rem;
    }
    
  	/*.m-lf {
  		.iconfont {
  			font-size: 1.8rem;
  		}
  	}

  	.m-mn {
  		.iconfont{
  			font-size: 2rem;
  			&:nth-child(2) {
  				margin: 0 1rem;
  				font-size: 1.6rem;
  			}
  		}
      a{
          .iconfont {
              font-size: 1.7rem;
          }
        }
  	}

  	.m-rt {
  		.iconfont {
  			font-size: 1.6rem;
  		}
  	}*/
}

a {
  text-decoration: none;
}
