#button(){
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-radius: 12px;
}

.g-bd {
	width: 100%;
	margin: 3rem auto 3.5rem auto;
	position: absolute;
	.m-userInfo {
		height: 7rem;
		position: relative;
		.m-user {
			height: 4rem;
			border-bottom: 2px solid #eeeff0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.m-lf {
				height: 100%;
				margin-left: 1rem;
				display: flex;
				align-items: center;
				img {
					width: 3rem;
					height: 3rem;
					border-radius: 100%;
				}
				.m-name {
					font-size: 1.3rem;
					margin-left: .7rem;
					align-self: center;
					.label {
						height: 1rem;
						line-height: 1rem;
						padding: 0 .4rem;
						color: #ddd;
						font-size: .5rem;
						font-weight: bold;
						border: 1px solid #ddd;
						#button
					}
				}
			}
			.m-rt {
				margin-right: 1rem;
				.btn {
					height: 1.7rem;
					line-height: 1.6rem;
					padding: 0 1rem;
					color: #d43b32;
					background-color: #fff;
					font-size: .6rem;
					font-weight: bold;
					border: 1px solid #d43b32;
					#button;
					span {
						font-size: .8rem;
					}
				}
			}
		}
		.m-info {
			height: 3rem;
			display: flex;
			text-align: center;
			align-items: center;
			.line {
				width: 1px;
				height: 2rem;
				border: none;
				border-left: 2px solid #eeeff0;
			}
			.cell {
				flex: 1;
				p {
					color: #999;
					margin: 0;
				}
				span {
					color: #000;
				}
			}
		}
	}
}
