.g-menu {
	.m-hd {
		height: 4rem;
		line-height: 4rem;
		background-color: rgb(238, 235, 227);
		padding-left: 1rem;
		font-size: 1.6rem;
		.iconfont {
			color: #000000;
			font-size: 3rem;
			margin-left: 1rem;
		}
		.arrow-right {
			transform: rotate(-90deg);
		}
	}
}